.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 60px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/images/hero-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 48px);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  color: var(--white);
  margin-bottom: 12px;
  max-width: 290px;
}

.text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
  margin-bottom: 28px;
  max-width: 330px;
}

@media screen and (-webkit-min-device-pixel-tatio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/images/hero-bg@2x.webp);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: calc(100vh - 68px);
  }

  .title {
    max-width: 500px;
    font-size: 54px;
    line-height: 1.2;
    margin-bottom: 14px;
  }

  .text {
    max-width: 590px;
    font-size: 22px;
    line-height: 1.33;
    margin-bottom: 34px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 60px;
    max-width: 800px;
    margin-bottom: 16px;
  }

  .text {
    font-size: 24px;
    margin-bottom: 40px;
  }
}
